[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=sailmich
Exec=sailmich
Name=Sailmich
Name[en]=Sailmich
Name[ru]=Sailmich
Name[nb]=Sailmich

[X-Sailjail]
Sandboxing=Disabled
#OrganizationName=ru.brzezinski
#ApplicationName=harbour-immich
#Permissions=UserDirs;Internet;Secrets
